# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.pbxuser
!default.pbxuser

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (将来用)
Pods/

# Carthage (将来用)
Carthage/Build/

# IDE
.idea/
*.iml
